* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


.header {
    background-color: #1C1E27;
}


.nav1 {
    display: flex;
    justify-content: space-between;
    background-color: #2F2E32;
}

.vl {
    border-left: 1px solid #590d22;
    margin-right: 20px;
    height:35px;
  }
.nav-item1 i, a {
    color: #e0fbfc;
    font-size: 14px;
}

.nav-item1 a{
    font-family: 'Roboto', sans-serif;
}
.right {
    display: flex;
    margin-right: 190px;
}

.nav1 i {
    padding-right: 3px;
}
.left {
    margin-left: 120px;
}

.center {
    display: flex;
    margin-right: 50px;
}
.nav-menu1 {
    display: flex;
    margin-top: 4px;
  
}

.nav-item1 {
    padding:10px;
    list-style: none;
}

.nav-item1 a {
    text-decoration: none;
}



.logo {
    display: flex;
    justify-content: space-between;
    z-index: 100;
}


.logo a {
    text-decoration: none;
    margin-left:90px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2em;
    color: #dfe7fd;
    /* margin-top: -17px; */
    font-family: 'Courgette', cursive;

    

}

.design {
    color: #0077b6;
}
.navbar {
    display: flex;
    justify-content: space-between;
    line-height: 90px;
}

.nav-menu {
    display: flex;
    margin-right: 150px;
    
}

.nav-item {
    padding-left: 50px;
    display: flex;
    
}


.nav-link {
    color: #dfe7fd;
}
.nav-item a {
    font-size: 17px;
    text-decoration: none;
    color:#dfe7fd;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    display: none;
}

.bar {
    width: 25px;
    height: 4px;
    background-color: black;
    display: flex;
    margin:4px auto;
}





.swiper {
    width: 100%;
    height: 100%;
   
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 82.5vh;
    object-fit: cover;

  }



@media screen and (max-width:1050px)
{
    .nav1 {
        display: none;
    }
}
@media screen and (max-width:1210px)
{
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background-color: #1C1E27;
        position: fixed;
        transition: all 0.4s ease-out;
        top:-100%;
        
    }

    .nav-menu.active {
        top: 0;
    }

    .nav-item a {
        
        color: #ffffff;
    }
    .nav-item {
        padding-left: 0;
        margin-left: 0;
    }
    

    .hamburger {
        z-index: 1000;
        margin-top: 30px;
        margin-right: 15px;
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2)
    {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}



    .logo a {
        color:#1d3557;
    }

    .nav-item a {
        color: #dfe7fd;
        /* margin-top: 20px; */
        margin-top: 20px;
        margin:0px
    }

    .logo a{
        margin-left: 20px;
    }
}


.swiper-slide img {
    z-index: 1;
}


.img1  {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.img1 p {
    font-size: 3.4em;
    padding-bottom: 35px;
    color:#4d5fe3;
    font-family: 'Dancing Script', cursive;
}

.img1 h1 {
    font-size: 3.6em;
    color: #caf0f8;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    line-height: 1.4;
}


.buttons a {
    text-decoration: none;
    padding: 18px 36px;
    letter-spacing: 2px;
    color: #000000;
    margin-right: 20px;
    border-radius: 33px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    
}


.buttons a:hover {
    transition: all 0.4s ease-out;
    background-color: #001219;
    color: #ffffff;
}

.buttons .second:hover {
    transition: all 0.4s ease-out;
    background-color: #90e0ef;
    color: blueviolet;
}


.buttons {
    margin-top: 50px;
    
}

.buttons .second {
    background-color: #ae2012;
    color: white;
}


.img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.img2 p {
    font-size: 3.4em;
    padding-bottom: 35px;
    color:#4d5fe3;
    font-family: 'Dancing Script', cursive;
}



.img2 h1 {
    font-size: 3.6em;
    color: #caf0f8;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    line-height: 1.4;
}


.buttons2 a {
    text-decoration: none;
    padding: 18px 36px;
    letter-spacing: 2px;
    color: #000000;
    margin-right: 20px;
    border-radius: 33px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    
}


.buttons2 a:hover {
    transition: all 0.4s ease-out;
    background-color: #001219;
    color: #ffffff;
}

.buttons2 .second:hover {
    transition: all 0.4s ease-out;
    background-color: #90e0ef;
    color: blueviolet;
}


.buttons2 {
    margin-top: 50px;
    
}

.buttons2 .second {
    background-color: blueviolet;
    color: white;
}




@media screen and (max-width:965px)
{
    .img1 p {
        font-size: 1.8em;
    }

    .img1 h1 {
        font-size: 2em;
    }
}



@media screen and (max-width:835px)
{
    .buttons a {
        padding: 18px 20px;
        display: block;
        margin: 10px;
       
        
    }
}

@media screen and (max-width:500px)
{
    .img1 p {
       font-size: 1.5em;
        
    }
    .img1 h1 {
        font-size: 1.3em;
    }
}





@media screen and (max-width:965px)
{
    .img2 p {
        font-size: 1.8em;
    }

    .img2 h1 {
        font-size: 2em;
    }
}



@media screen and (max-width:835px)
{
    .buttons2 a {
        padding: 18px 20px;
        display: block;
        margin: 10px;
       
        
    }
}

@media screen and (max-width:500px)
{
    .img2 p {
       font-size: 1.5em;
        
    }
    .img2 h1 {
        font-size: 1.3em;
    }
}

.img1 p{
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  
  .img1 h1 {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

    @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      

.center1{
    text-align: center;
    font-family: 'Roboto' sans-serif;
    color: #023e8a;
    font-size: 22px;
    margin-top: 70px;
}

.section1 h1 {
    font-size: 2.3em;
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
    letter-spacing: 4px;
    color:#023047;
    margin-bottom: 50px;
}

.section11 {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    flex: 1 1 180px;
    margin:10px 50px;
}

.box1 i {
    display: flex;
    justify-content: center;
}
.box1  h3, p {
    text-align: center;

}




.box1 i:hover {
    transition: all 0.3s ease-out;
    color: #212529;
}



.box1 i {
    font-size: 3.3em;
    color: #023047;
    padding-bottom: 18px;
}

.box1 h3 {
    padding-bottom: 10px;
    font-size:1.5em;
}


.box1 p {
    width: 96%;
    opacity: 0.8;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    line-height: 1.6;
}



.section2 {
    margin-top: 120px;
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
}


.box2 h1 {
    letter-spacing: 1px;
    line-height: 1.4;
    font-size:2.8em;
    width: 80%;
    margin:10px auto;
    color: #000000;
}

.box2 p {
    width:80%;
    margin:15px auto;
    text-align: start;
    line-height: 1.7;
    opacity: 0.7;
    padding-top: 40px;
    font-size:17px;
    font-family: "Roboto", sans-serif;
}


.imoji {
    display: flex;
    width: 80%;
    padding-top: 50px;
    margin: 10px auto;
}

.imoji i {
    padding-right:20px;
    font-size: 3em;
    color:#8793EC;
}
.imoji h4 {
    width: 50%;
    font-family: Roboto, sans-serif;
    font-size:1.2em;
    padding-right: 30px;
    color: #590d22;
}


.buttons3  {
    width: 80%;
    margin:0 auto;
    padding-top: 80px;
}

.buttons3 a {
    font-size:14px;
    color: #fff;
    font-weight: 700;
    padding: 22px 30px 20px;
    font-family: Roboto;
    border-radius: 10px;
    background-color: royalblue;
    text-decoration: none;
}

.buttons3 a:hover {
    opacity: 0.6;
    transition: all 0.3s ease-out;
}

.one img {
    width: 550px;
    height: 590px;
    border-radius: 15px;
}

.two img {
    position: absolute;
    margin-top: -286px;
    width: 272px;
    height: 282px;
    margin-left: -110px;
    border-radius: 16px;
}

@media screen and (max-width:1122px)
{
    .section2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .one img {
        display: block;
        width: 400px;
        height: 460px;
        margin:0 auto;
    }
    
    .two img {
        display: none;
        
    }
}


@media screen and (max-width:500px)
{
     

    .one img {
        width: 300px;
        height: 330px;
    }
    
    .imoji {
        display: block;
        margin: 0  auto;
        text-align: center;
        
    }

    .imoji h4 {
        text-align: center;
        width: 100%;
        padding-right: 0;
        padding-bottom: 10px;
    }

    .imoji i {
        padding-bottom:25px; 
        display: block;
        margin: 10px auto;
    }

    .buttons3 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
     
}



.section3 h1 {
    text-align: center;
    font-size:2.7em;
    margin-bottom: 80px;
    margin-top: 120px;
    color: #1C1E27;
    

}





.box3 {

    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    place-items: center;
    margin:0 50px;
    row-gap: 30px;
}




.box4:hover {
    transition: all 0.3s ease-out;
        box-shadow: 1px 8px 20px grey;
       -webkit-transition:  box-shadow .6s ease-in;
}

/* @media screen and (max-width) */


.image2 img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 300px;
}

.top1 {
    display: flex;
    justify-content: space-between;
 position: absolute;
 top:10px;
 padding-left: 10px;
}


.bottom1 img {
    width: 38px;
    height: 38px;
    margin-top: -50px;
    margin-left: 26px;
    border-radius: 50%;
}
.box4 {
    width: 300px;
    height: 450px;
    border-radius: 12px;
    background-color: #EFF2F5;

}


.bottom1 p {
    font-size:17px;
    color:#0077b6;
    text-align: start;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 27px;
}

.padd  {
    text-align: center;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    
}

.padd a {
    font-weight: 800;
    line-height: 1.6;
    color: #2b2d42;
    margin: 20px;
    font-size:1.1em;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    margin:20px auto;
}

.fl {
    display: flex;
    justify-content: space-between;
}

.fl h4 {
    padding-right: 10px;
    padding-top: 10px;
    font-size:1em;
    color: #590d22;
    font-family: Roboto;
}

.sub {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.lessons {
    font-size: 13px;
    font-family: Roboto;
    color:#3d5a80;
}

.sub2 {
    font-size: 13px;
    font-family: Roboto;
    color:#3d5a80;
}




.section4 {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}

#imagee1 {
    background-image: url("http://learnify.axiomthemes.com/wp-content/uploads/2019/02/image-home-1-1-copyright-840x840.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    background-size: cover;

}

#imagee2 {
    background-image: url("http://learnify.axiomthemes.com/wp-content/uploads/2021/04/about-1-copyright.jpg");
    background-repeat: no-repeat;
    width: 500px;
    background-size: cover;
    height: 500px;

}

#imagee3 {
    background-image: url("http://learnify.axiomthemes.com/wp-content/uploads/2021/04/about-3-copyright-840x840.jpg");
    background-repeat: no-repeat;

}

#imagee4 {
    background-image: url("http://learnify.axiomthemes.com/wp-content/uploads/2019/02/image-home-1-3-copyright-840x840.jpg");
    background-repeat: no-repeat;

}



// add From this line 

.section5 {
   display: flex;
   
}
 

 
#section5 img {
float: left;
   width: 100%;
}

#section5 img {
    width: 25%;
    height: 390px;
}
 

 

#section5 img {
   cursor: pointer;
      filter: brightness(60%)
}

#section5 img:hover {
     transform: scale(1.001);
     margin-top: -5px;
     transition: all 0.3s ease-in;
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  
}


.image11 h1 {
    position: absolute;
    left: 32px;
    font-size: 2.5em;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 290px;
}

.image11 p {
     position: absolute;
    left: 32px;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;
}


.image22 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 27%;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 290px;
}

.image22 p {
     position: absolute;
    margin-left: 27%;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;
}

.image33 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 52%;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 290px;
}

.image33 p {
     position: absolute;
    margin-left: 52%;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;
}

.image44 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 77%;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 290px;
}

.image44 p {
     position: absolute;
    margin-left: 77%;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;
}



@media screen and (max-width:1060px)
{
    #section5 img {
        width: 33.3%;
      
    }

    .image22 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 37%;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 290px;
}

.image22 p {
     position: absolute;
    margin-left: 37%;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;
}


    .image44 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 32px;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 678px;
}

.image44 p {
     position: absolute;
    margin-left: 32px;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 735px;
}

.image33 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 70%;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 290px;
}

.image33 p {
     position: absolute;
    margin-left: 70%;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;
}
}

@media  screen and (max-width:865px)
{
    .all h1{
        font-size: 1.8em;
    }

    .all p {
        font-size: 15px;
    }
}



@media screen and (max-width:700px)
{
    #section5 img {
        width: 50%;
         justify-content: center;
         align-items: center;

         
    }

        .image22 h1 {
            position: absolute;
            font-size: 2.5em;
            margin-left: 55%;
            font-family: Roboto;
            color: #caf0f8;
            margin-top: 290px;
}

.image22 p {
     position: absolute;
    margin-left: 55%;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;
}


.image33 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 32px;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 678px;
}

.image33 p {
     position: absolute;
    margin-left: 32px;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 735px;
}


.image44 h1 {
    position: absolute;
    font-size: 2.5em;
    margin-left: 55%;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 678px;
}

.image44 p {
     position: absolute;
    margin-left:55%;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 735px;
}

}

@media screen and (max-width:440px)
{
    #section5 img {
        width: 100%;
      
         
    }

    .image11 h1 {
   position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 2.5em;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 290px;
}

.image11 p {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 350px;

    }

    .image44 h1 {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 2.2em;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 1440px;
}

.image44 p {
     position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 1490px;
}


.image33 h1 {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 2.5em;
    font-family: Roboto;
    color: #caf0f8;
    margin-top: 1040px;
}

.image33 p {
   position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 1100px;
}

.image22 h1 {
            position: absolute;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            left: 0;
            right: 0;
            font-size: 2.5em;
            font-family: Roboto;
            color: #caf0f8;
            margin-top: 660px;
}

.image22 p {
     position: absolute;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            left: 0;
            right: 0;
    font-size: 1.1em;
    font-family: Roboto;
    color: #9bf6ff;
    margin-top: 720px;
}

}

 
@media screen and (max-width:600px)
{
    .image22 h1 {
        font-size: 1.8em;
    }
    .image22 p {
        font-size: 15px;
    }

    .image33 h1 {
        font-size: 1.8em;
    }

    .image33 p {
        font-size: 14px;
        text-align: center;
    }

    .image44 p {
        font-size: 15px;
    }
    .image44 h1 {
        font-size: 1.8em;
    }
}


 

.box88 {
    display: flex;
    flex-wrap: wrap;
}

.box8 {
    flex:1 1 290px;
    margin:40px;
}
 

 .section8 {
     margin-top:10px;
     padding-top: 10px;
 }
.section8 h1 {
    font-size: 2.8em;
    font-family: Roboto, sans-serif;
    width: 90%;
    color: #1F242E;
    margin: 0 auto;
     margin-top: 10px;
     padding-top: 10px;
}

.box8 p {
    font-size: 17px;
    font-family: Roboto, sans-serif;
    color: black;
    opacity: 0.7;
    text-align: start;
    line-height: 2;
}

.box8 img {
    height: 430px;
    width: 100%;
}

@media screen and (max-width:430px)
{
    .box8 img {
        height: 390px;
    }
}




@media screen and (max-width:1060px)
{
    .section8 h1 {
        margin-top: 500px;
    }
}

.card {
    position: absolute;
    width: 640px;
    margin-top: 80px;
    right: 190px;
    background-color: #3D19CC;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width:1090px)
{
    .card {
        position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    width: 570px;
    }

}

@media screen and (max-width:680px)
{
    .card {
    
    width: 440px;
    }

}

@media screen and (max-width:680px)
{
    .card {
    
    width: 250px;
    }

}


.card1 h2{
    padding-top:30px;
    font-size: 19px;
    color: #ffffff;
    font-family: Roboto, 'sans-serif';
}

.card1 h3 {
    font-size: 2.8em;
    font-family: Roboto, 'sans-serif';
    padding-top:30px;
    padding-bottom: 30px;
    color: #ffffff;
}

.card1 h4 {
    padding-bottom: 30px;
    font-size: 16px;
    color: #f8edeb;
    font-family: Roboto, 'sans-serif';
}

 

.section9 p {
    text-align: center;
    font-size: 19px;
    font-family: Roboto;
    color: #7209b7;
    margin-top:310px;
}

.section9 h1 {
    letter-spacing: 3px;
    font-size: 2.9em;
    text-align: center;
    padding-top: 30px;
    color: #03071e;
}

@media screen and (max-width:755px){
    .section9 p {
        margin-top:380px;
    }
}


@media screen and (max-width:755px){
    .section9 p {
        margin-top:580px;
    }
}


@media screen and (max-width:1060px){
    .section9 h1{
        margin-top:-20px;
    }
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin:65px;
}

.team img {
    flex: 1 1 180px;
    width: 300px;
    height: 370px;
    margin:4px;
    
}

.first1 h3 {
    color: #1F242E;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 3px;
    font-family: Roboto;
    padding-top: 16px;
}

.first1 h4 {
    font-family: Roboto;
    padding-left: 3px;
    margin: 5px 0;
    font-size: 16px;
    color: #6C6F73;
}

.team img:hover {
    transform: scale(1.04);
    cursor: pointer;
    transition: all 0.3s ease-in;
      filter: brightness(50%)

}



.articles h1 {
    margin-bottom: 50px;
    font-size: 2.7em;
    letter-spacing: 3.2px;
    text-align: center;
    margin-top: 60px;
    color: #590d22;
    font-family: Roboto;
}



.allarticles {
    display: flex;
    flex-wrap: wrap;
    gap:6px;
    margin:100px;
 

}

@media screen and (max-width:600px)
{
    .allarticles {
        margin:10px;
    }
}

.artcile1 h3 {
    padding:18px;
    font-size: 1.6em;
    color: #800f2f;
    letter-spacing: 1px;
    line-height: 1.4;
}

 

.artcile1 a {
    padding:11px 25px;
    border-radius: 50px;
    background-color: #7400b8;
    color: #f8f9fa;
    margin-left: 18px;
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;

}

.artcile1 a:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in;
}

.artcile1:hover {
    cursor: pointer;
     
     transition: all 0.3s ease-in;
     transform: translateY(10px);
      
}

.artcile1 img:hover {
     filter: brightness(50%);
}

.artcile1 h6 {
    letter-spacing: 1px;
    line-height: 1.7;
    padding:.9em;
    font-size: 1em;
   
    color: black;
    opacity: 0.5;
}

.artcile1 {
    
    flex:1 1 300px;
    margin-top: 70px;
    justify-content: center;
   margin: 20px;
     border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
   background-color: #edf2fb;
   padding-bottom: 41px;
}

.artcile1 img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
    width: 100%;
     
}
footer {
    background-color: #001219;
    padding:150px;
}

.center11 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    color: #f8edeb;
    font-family: Roboto;
    border-bottom: 0.8px solid #fefae0;
    padding-bottom: 40px;
}

input {
    border-radius: 12px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    padding:12px;
    background-color: transparent;
    margin-top: 40px;
}

.center22 h1 {
    font-size: 2.1em;
    color: #e8e8e4;
    text-align: center;
    margin-top: 60px;
    font-family: Roboto;

}

.icons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.icons i {
    padding: 10px;
    color: rgb(161, 96, 96);
    background-color: transparent;
    cursor: pointer;
    
}

.center33 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;

}

.center33 a {
    text-decoration: none;
    font-size: 1.4em;
    font-family: Roboto;
    padding:15px;
    color: #f8edeb;
}

 
 @media screen and (max-width:500px)
 {
     .center11 {
         font-size: .8em;
         margin-left: -14px;
     }

     input {
         font-size: 16px;
         margin-left: -40px;
     }

     .center22 h1{
         font-size: 1em;
     }
 }
 